{% load static %}
<html>
  <head>
      <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
</head>
<body>
    <div class="jumbotron">
        <h1 class="display-4">Lex Sanders</h1>
      </div>
    {% block page_content %}{% endblock %}
</body>


</html>